services:
  px4-nuttx:
    build:
      context: .
      dockerfile: nuttx.Dockerfile
    image: px4-nuttx
    container_name: px4-nuttx
    privileged: true
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - seccomp=unconfined
    # Run as root to allow access to mounted SD cards and USB devices
    # user: "user"
    tty: true
    stdin_open: true
    volumes:
      - ../:/px4env:rw
      - type: bind
        source: /media/${USER}
        target: /media
        bind:
          propagation: rshared
    environment:
      - LOCAL_USER_ID=${UID}
    ports:
      - "14556:14556"
    command: tail -f /dev/null
  px4-dev-sitl:
    build:
      context: .
      dockerfile: sitl_gz.Dockerfile
    image: px4-sitl-gz
    container_name: px4-sitl-gz
    privileged: true
    tty: true
    stdin_open: true
    network_mode: host
    extra_hosts:
      - "host.docker.internal:host-gateway"
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - ../:/px4-docker:rw
      - ../../px4/:/px4-docker/px4
      - /tmp/X11-unix:/tmp/X11-unix # Fix GUI
      - /tmp/.docker.xauth:/tmp/.docker.xauth:rw # X11 auth
    environment:
      - LOCAL_USER_ID=${UID:-1000}
      - DISPLAY=${DISPLAY:-:0}
      - XAUTHORITY=/tmp/.docker.xauth
      - GCS_TARGET_IP=host.docker.internal
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    command: tail -f /dev/null
  px4-sitl-gz-dds:
    build:
      context: .
      dockerfile: sitl_gz_dds.Dockerfile
    image: px4-sitl-gz-dds
    container_name: px4-sitl-gz-dds
    depends_on:
      - px4-sitl-gz # todo: check
    privileged: true
    tty: true
    stdin_open: true
    network_mode: host
    volumes:
      - ../:/px4-docker:rw
      - ../../px4/:/px4-docker/px4
    environment:
      - LOCAL_USER_ID=${UID}
      - DISPLAY=:0
    command: tail -f /dev/null
  px4-sitl-gz-dds-headless:
    build:
      context: .
      dockerfile: sitl_gz_dds.Dockerfile
    image: px4-sitl-gz-dds-headless
    container_name: px4-sitl-gz-dds-headless
    depends_on:
      - px4-sitl-gz # todo: check
    privileged: true
    tty: true
    stdin_open: true
    network_mode: host
    volumes:
      - ../:/px4env:rw
    environment:
      - LOCAL_USER_ID=${UID}
    command: tail -f /dev/null
  px4-sitl-dds-custom:
    build:
      context: ..
      dockerfile: devcontainers/sitl_dds_custom.Dockerfile
    image: px4-sitl-dds-custom
    container_name: px4-sitl-dds-custom
    privileged: true
    tty: true
    stdin_open: true
    network_mode: host
    volumes:
      - ../:/px4env:rw
    environment:
      - LOCAL_USER_ID=${UID}
      - DISPLAY=:0
    command: tail -f /dev/null
